[project]
name = "DCConv"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.8",
    "numpy>=2.3.5",
    "plotly>=6.5.0",
    "torch>=2.9.1",
]
